{% extends "app/layout.html" %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">         
        <a class="navbar-brand" href="#">Azure App Service - Updated Here!</a>       
      </div>            
    </div>
  </nav> 


{% load static %}
<div class="jumbotron" style="background-image: url('{% static "app/img/STB13_Ken_06.png" %}');">
 <div class="container">
 <!--Add Video "-->
 <!--
     <div  style="float: right">
    <iframe width="350px" height ="200px" class="embed-responsive embed-responsive-16by9" src="https://www.youtube.com/embed/ma6-56SC-20"></iframe>
  </div> 
 -->

  <h2 class="display-3">Build, deploy and scale applications faster</h2>   
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://docs.microsoft.com/azure/app-service-web" role="button">Learn more</a>
  </p>     
</div>
</div>

<div class="container">
    <h1 class="text-center v-center" style="padding-bottom:20px">Get started with App Service on Linux</h1>
</div>
<div class="container">
        <div class="row flex text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">                  
                  {% load static %}
                    <img src="{% static "app/img/overview.png" %}" width="42" height="42" alt=""/>
                    <div class="caption">
                        <h4>Overview</h4>
                    </div>
                    <div style="text-align:left">
                        <ul >
                          <li><a href="https://docs.microsoft.com/azure/app-service-web/app-service-linux-intro">What is Web App on Linux</a></li>
                          <li><a href="https://azure.microsoft.com/pricing/details/app-service/">Pricing</a></li>
                          <li><a href="https://docs.microsoft.com/azure/app-service-web">Documentation</a></li>
                          <li><a href="https://docs.microsoft.com/en-us/azure/app-service-web/app-service-linux-choosing-deployment-type">Custom container or built-in application stack?</a></li>                            
                        </ul>     
                    </div>
                    <p class="caption" style="padding:10px">
                        <a href="https://azure.microsoft.com/try/app-service/" class="btn btn-primary">Try for Free!</a> 
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                     {% load static %}
                    <img src="{% static "app/img/container.png" %}" width="42" height="42" alt=""/>
                    <div class="caption">
                        <h4>Bring your own Docker Container</h4>
                    </div>
                    <br/>
                   <div style="text-align:left">
                       <ul>
                            <li><a href="https://docs.microsoft.com/azure/app-service-web/app-service-linux-using-custom-docker-image">Create web app</a></li>
                            <li><a href="https://docs.microsoft.com/azure/app-service-web/app-service-linux-how-to-create-web-app">Continuous Deployment</a></li>
                            <li><a href="https://docs.microsoft.com/en-us/azure/app-service-web/app-service-linux-ssh-support">Enable SSH for custom image</a></li>
                        </ul>                                             
                    </div>
                    <p class="caption" style="padding:15px">
                        <a href="https://azure.microsoft.com/overview/webinars/" class="btn btn-primary">WebCast</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    {% load static %}
                    <img src="{% static "app/img/linux-web-app.png" %}" width="42" height="42" alt=""/>
                    <div class="caption">
                        <h4>Use Built-in images</h4>
                    </div>
                    <div style="text-align:left">
                        <ul>
                          <li><a href="https://docs.microsoft.com/azure/app-service-web/app-service-linux-how-to-create-web-app">Create a web app using built-in image</a></li>
                          <li><a href="https://docs.microsoft.com/en-us/azure/app-service-web/app-service-linux-using-dotnetcore">Create .NET Core App</a></li>
                          <li><a href="https://docs.microsoft.com/azure/app-service-web/app-service-linux-using-nodejs-pm2">Create a NodeJS App</a></li>
                          <li><a href="https://docs.microsoft.com/azure/app-service-web/app-service-linux-ruby-get-started">Create a Ruby App</a></li>                          
                        </ul>                                              
                    </div>
                    <p class="caption" style="padding:10px">
                        <a href="https://docs.microsoft.com/azure/app-service-web/" class="btn btn-primary">Tutorial</a> 
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    {% load static %}
                    <img src="{% static "app/img/github.png" %}" width="42" height="42" alt=""/>
                    <div class="caption">
                        <h4>Samples and Resources</h4>
                    </div>
                    <div style="text-align:left">
                        <ul>                        
                            <li><a href="https://github.com/azure-app-service">Docker image Samples on Github</a></li>
                            <li><a href="https://channel9.msdn.com/">Channel9 Videos</a></li>
                            <li><a href="https://github.com/azure/azure-quickstart-templates/">Azure Quickstart Templates</a></li>
                            <li><a href="https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview">Forums</a></li>                            
                        </ul>
                    </div>
                    <p class="caption" style="padding:1px">
                        <a href="https://feedback.azure.com/forums/169385-web-apps" class="btn btn-primary">UserVoice</a>
                    </p>
                </div>
            </div>

        </div>
</div>        

<hr>

{% endblock %}
